h1{
    text-align:center;
    color:red;
    text-shadow: 7px 7px rgb(221, 238, 69);
    font-size:6em;

}

.cell{
    background-color:white;
    border-radius:50%;
    width: 25%;
    height: 25%;
    margin:15px;
}

.cell img{
    width:5em;
    height:5em;
    border-radius: 50%;

}

#gridBox{
    border: 2px, solid black;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;


}
.row{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:20%;
    height:20%;
}
